<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
    <style>
        .main_header_left{
            margin: auto;
        }
    </style>
</head>
<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
           <div class="col-md-10 col-12 mx-auto">
               <div class="row">
                <div class="col-md-6 col-12 main_header_right align-items=center">
                    
                </div>
                <div class="col-md-6 col-12 main_header_left">
                   <p>Welcome to weather app</p>
                   <h1>Oops this <span class="text-clor">Page,</span> does'nt exist</h1>
                   <a href="/"><button>Go back</button></a>
                </div>
                
               </div>
               </div>
               </div>
               </div>
               {{>footer}}
</body>
</html>